/bin
.classpath
.project
.settings
/JSONfeeds
/VulnerabilityData
/target/

SearchMethodComparisonResources/\.~lock\.bt-data-githubname-cve-v4\.0\.csv#

SearchMethodComparisonResources/bt-data-githubname-cve-v4\.0\.csv
